/* more button*/

.more-btn{
    text-decoration: none;
    color:rgb(89,122,124);
    border:1px solid rgb(88,120,122);
    padding:5px;

    border-radius: 5px;
}
.more-btn:hover{
    text-decoration: none;
    background-color:rgb(89,122,124);
    color:#fff;
    border:1px solid rgb(88,120,122);
    padding:5px;
    border-radius: 5px;
}

.hide-p, .hide1{
    display:none;
}
.team-text2{
    margin: 20% auto !important;
    padding:5%;
    width:80%;
}
/*video*/
@media only screen and (min-width: 35em){
.video video{
    width: 100%;
    height: 100%;
    margin-top: 20%;
}
.video{
    width: 50%;
    height: 60%;
    float: left;
  
} 
.section4{
    height: 30em !important;    
}
.section4 .imge{
    margin:5% auto !important;
}
.row{
    width: 90%;
    margin: auto;
    padding:9% 5%;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.c-image{
    width:70%;
}
}

@media only screen and (max-width: 35em){

.video video{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
.video{
    width: 90%;
    height: 60%;
   margin:auto;
} 

.row{
    width: 100% !important;
    margin: auto;
   
}
.column {
  float: left;
  width: 22% !important;
    padding: 10% 10px;
    margin: auto;
}

.c-image{
    width:100%;
}

.card{
    width: 60% !important;
    
    margin: 5% auto !important;
    font-size: 1em !important;
}


}
/* Three image containers (use 25% for four, and 50% for two, etc) */


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column:hover{
    cursor: pointer;
}


/*pricing*/
.price{
    
    width:95vw;
    height:90vh ;

}
.price img{
    width: 100%;
    height: 100%;
    margin:auto;
    box-shadow: 5px 5px 10px inset #7e9f9d;
}

/*card*/

.card{
    background-color:  rgba(127, 187, 183, 0.7);
    box-shadow: 5px 5px 15px #fff inset;
}
.card:hover{
    background-color: rgba(72,213,183,.5);
    transform:translateY(-15px);
    transition:cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition-delay: .1s;
    box-shadow: 5px 5px 10px #540938, 5px 5px 15px #fff inset;
    cursor: pointer;
}
.center-btn{
    width: 20%;
    margin:5% auto 10%  40%;
}

/* price form*/
.price .table-row{
    display:table-row;
    width:80%;
    margin:auto;
}
.table-row .table-cell{
    display: table-cell;
}
.table-row:nth-of-type(even){
    background-color: rgba(72,213,185,.3);
  
    border:1px solid rgb(89,122,124);

}
.table-row:nth-of-type(odd){
    background-color: rgba(72,213,185,.7);
}

.table-cell:nth-of-type(odd){
    width: 15%;
    
}
.table-cell:nth-of-type(odd) input{
    width:80% ;
    margin: 3% auto;
    padding: 5px;
}

.table-cell:nth-of-type(odd) p{
    margin-bottom: 0;
}
.table-cell:nth-of-type(even){
    margin:5% 10%;
    width: 30%;
}

.table-cell:nth-of-type(even) input[type=range]{
    width: 80%;
    margin: 2% 6%;
}

.table-cell:nth-of-type(even) pre{
    margin: 3% 6%;
}
